In [17]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import glob

In [18]:
#all_files = glob.glob('data/*.csv')
li = []

filenames = ['data/1_monday.csv', 'data/2_tuesday.csv', 'data/3_wednesday.csv', 'data/4_thursday.csv', 'data/5_friday.csv' ]

for filename in filenames:
    df = pd.read_csv(filename, index_col=None, sep= ';', header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
df.head()

# one liner, but no additional argument to pd.read_csv possible:
#df = pd.concat(map(pd.read_csv, glob.glob('data/*.csv')))

             timestamp  customer_no location
0  2019-09-02 07:03:00            1    dairy
1  2019-09-02 07:03:00            2    dairy
2  2019-09-02 07:04:00            3    dairy
3  2019-09-02 07:04:00            4    dairy
4  2019-09-02 07:04:00            5   spices

In [19]:
# create unique identifier for each customer:
for i in df.index:
    df.at[i, 'customer_id'] = (df.at[i, 'timestamp'])[0:10]+ '_' + str(df.at[i, 'customer_no'])

# drop customer_no 
df.drop(['customer_no'], axis=1, inplace=True)
df.head()

             timestamp location   customer_id
0  2019-09-02 07:03:00    dairy  2019-09-02_1
1  2019-09-02 07:03:00    dairy  2019-09-02_2
2  2019-09-02 07:04:00    dairy  2019-09-02_3
3  2019-09-02 07:04:00    dairy  2019-09-02_4
4  2019-09-02 07:04:00   spices  2019-09-02_5

### create checkout timestamp & location for the customers without recorded checkout:

In [20]:
cust_checkout_no_record = []

for cust in df['customer_id']:
    df_at = df[df['customer_id']==cust] 

    last_cust_occ = df_at.customer_id[-1:].values
    last_loc_occ = df_at.location[-1:].values
    #print(last_cust_occ, last_loc_occ)
    
    if last_loc_occ[0] != 'checkout':
        cust_checkout_no_record.append(last_cust_occ[0])


# remove duplicates:
cust_checkout_no_record = list(dict.fromkeys(cust_checkout_no_record))
cust_checkout_no_record

['2019-09-02_1430',
 '2019-09-02_1433',
 '2019-09-02_1437',
 '2019-09-02_1439',
 '2019-09-02_1440',
 '2019-09-02_1441',
 '2019-09-02_1443',
 '2019-09-02_1445',
 '2019-09-02_1446',
 '2019-09-02_1447',
 '2019-09-03_1411',
 '2019-09-03_1422',
 '2019-09-04_1520',
 '2019-09-04_1527',
 '2019-09-04_1528',
 '2019-09-04_1529',
 '2019-09-04_1530',
 '2019-09-05_1527',
 '2019-09-05_1532',
 '2019-09-05_1533',
 '2019-09-06_1494',
 '2019-09-06_1496',
 '2019-09-06_1500',
 '2019-09-06_1503',
 '2019-09-06_1505',
 '2019-09-06_1506',
 '2019-09-06_1509',
 '2019-09-06_1510']

In [21]:
lst_dict = []

for cust_id in cust_checkout_no_record:
    
    # assuming that the remaining customers are checked out at 21:55
    new_row_dict = {'timestamp':'2019-09-02 21:53:00', 'customer_id':cust_id, 'location':'checkout'}    
    lst_dict.append(new_row_dict)

#append rows to the dataframe
df = df.append(lst_dict, ignore_index=True)

In [22]:
df.head()

             timestamp location   customer_id
0  2019-09-02 07:03:00    dairy  2019-09-02_1
1  2019-09-02 07:03:00    dairy  2019-09-02_2
2  2019-09-02 07:04:00    dairy  2019-09-02_3
3  2019-09-02 07:04:00    dairy  2019-09-02_4
4  2019-09-02 07:04:00   spices  2019-09-02_5

In [23]:
df.tail()

                 timestamp  location      customer_id
24900  2019-09-02 21:53:00  checkout  2019-09-06_1503
24901  2019-09-02 21:53:00  checkout  2019-09-06_1505
24902  2019-09-02 21:53:00  checkout  2019-09-06_1506
24903  2019-09-02 21:53:00  checkout  2019-09-06_1509
24904  2019-09-02 21:53:00  checkout  2019-09-06_1510

In [24]:
df.to_csv('data/data_clean.csv')