In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import glob

In [4]:
all_files = glob.glob('data/*.csv')

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, sep= ';', header=0)
    

    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
df.head()

# one liner, but no additional argument to pd.read_csv possible:
#df = pd.concat(map(pd.read_csv, glob.glob('data/*.csv')))

             timestamp  customer_no location
0  2019-09-03 07:02:00            1    fruit
1  2019-09-03 07:02:00            2   drinks
2  2019-09-03 07:03:00            3    dairy
3  2019-09-03 07:05:00            1   drinks
4  2019-09-03 07:06:00            4    dairy

In [5]:
# create unique identifier for each customer:
for i in df.index:
    df.at[i, 'customer_id'] = (df.at[i, 'timestamp'])[0:10]+ '_' + str(df.at[i, 'customer_no'])

df.head()

             timestamp  customer_no location   customer_id
0  2019-09-03 07:02:00            1    fruit  2019-09-03_1
1  2019-09-03 07:02:00            2   drinks  2019-09-03_2
2  2019-09-03 07:03:00            3    dairy  2019-09-03_3
3  2019-09-03 07:05:00            1   drinks  2019-09-03_1
4  2019-09-03 07:06:00            4    dairy  2019-09-03_4