In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [3]:
# upload one file (later all - customer no starts with 1 every day)
df = pd.read_csv('./data/monday.csv', sep=';') # , index_col=0

In [4]:
cust_checkout_no_record = []
for i in range(1, (df['customer_no'].nunique())+1):
    df_at = df[df['customer_no']==i] 
    # print(df_at)
    
    last_cust_occ = df_at.customer_no[-1:].values
    last_loc_occ = df_at.location[-1:].values
    # print(last_cust_occ, last_loc_occ)
    
    if last_loc_occ[0] != 'checkout':
        cust_checkout_no_record.append(last_cust_occ[0])

cust_checkout_no_record

[1430, 1433, 1437, 1439, 1440, 1441, 1443, 1445, 1446, 1447]

In [5]:
lst_dict = []

for cust_no in cust_checkout_no_record:
    
    # assuming that the remaining customers are checked out at 21:55
    new_row_dict = {'timestamp':'2019-09-02 21:55:00', 'customer_no':cust_no, 'location':'checkout'}    
    lst_dict.append(new_row_dict)

#append rows to the dataframe
df = df.append(lst_dict, ignore_index=True)

df.tail(15)

                timestamp  customer_no  location
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit
4884  2019-09-02 21:55:00         1430  checkout
4885  2019-09-02 21:55:00         1433  checkout
4886  2019-09-02 21:55:00         1437  checkout
4887  2019-09-02 21:55:00         1439  checkout
4888  2019-09-02 21:55:00         1440  checkout
4889  2019-09-02 21:55:00         1441  checkout
4890  2019-09-02 21:55:00         1443  checkout
4891  2019-09-02 21:55:00         1445  checkout
4892  2019-09-02 21:55:00         1446  checkout
4893  2019-09-02 21:55:00         1447  checkout

In [2]:
# Converting timestamp to datetime
#df.index = pd.to_datetime(df.index)
df.timestamp = pd.to_datetime(df.timestamp)
df.tail(3)

NameError: name 'pd' is not defined

### time each customer spent in the market:

In [7]:
minutes_spend_list = []

# loop through the customer id columnn:
for i in range(1, (df['customer_no'].nunique())+1):
    df_at = df[df['customer_no']==i] 
    first_occ = df_at.timestamp[:1].values # get first and last timestamp for current customer_no
    last_occ = df_at.timestamp[-1:].values
    #print(first_occ, last_occ)
    
    timediff = (last_occ - first_occ)/60000000000 # nanoseconds to minutes
    

    # print('customer', i ,'spend', timediff.tolist()[0], 'minute(s) in the supermarket') 
    minutes_spend_list.append(timediff.tolist()[0])

In [8]:
average = sum(minutes_spend_list) / len(minutes_spend_list)
max_time = max(minutes_spend_list)
min_time = min(minutes_spend_list)

def most_common(lst):
    return max(set(lst), key=lst.count)

most_common_time = most_common(minutes_spend_list)

print(
    'The average time customers spend in the supermarket is: \n', 
      round(average, 2), 'minutes \n', 
    'The maximum time customers spend in the supermarket is: \n',
      round(max_time, 2), 'minutes \n', 
    'The minimum time customers spend in the supermarket is: \n',
      round(min_time, 2), 'minute(s) \n', 
    'The most commom time customers spend in the supermarket is: \n',
      round(most_common_time, 2), 'minute(s)  \n', 
     )

The average time customers spend in the supermarket is:
 6.48 minutes
 The maximum time customers spend in the supermarket is:
 51 minutes
 The minimum time customers spend in the supermarket is:
 1 minute(s)
 The most commom time customers spend in the supermarket is:
 1 minute(s)