In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [27]:
# upload one file (later all - customer no starts with 1 every day)
#df = pd.read_csv('./data/monday.csv', sep=';',index_col=0) # , index_col=0
df = pd.read_csv('./data/monday.csv', sep=';', parse_dates =["timestamp"], index_col ="timestamp") 
#df.index = pd.to_datetime(df.index)
df

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

#### Calculate the total number of customers in the supermarket over time.

In [ ]:
df.resample(rule='1min').bfill()

In [ ]:
df.head()