

### Estimatation of the total revenue (weekday=monday) for a customer for: section - revenue per minute
* fruit 	4€
* spices 	3€
* dairy 	5€
* drinks 	6€

In [31]:
## Customer journeys:

# How long did the customer spend in each section they visited?
# times the revenue per imit
# add up to total revenue

In [47]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [48]:
# upload one file (later all - customer no starts with 1 every day)
df = pd.read_csv('./data/monday.csv', sep=';') # , index_col=0

In [50]:
# create dummy column for counts
df['dummy'] = 1

In [51]:
# create revenue column

def label_revenue (row):
    if row['location'] == 'fruit' :
        return 4
    if row['location'] == 'spices' :
        return 3
    if row['location'] == 'dairy' :
        return 5
    if row['location'] == 'drinks' :
        return 6


df['revenue'] = df.apply(label_revenue, axis=1)

In [52]:
df.tail(3)

                timestamp  customer_no location  dummy  revenue
4881  2019-09-02 21:49:00         1445    dairy      1      5.0
4882  2019-09-02 21:50:00         1446    dairy      1      5.0
4883  2019-09-02 21:50:00         1447    fruit      1      4.0

In [53]:
df.timestamp = pd.to_datetime(df.timestamp)
df = df.set_index('timestamp')
df.head(2)

                     customer_no location  dummy  revenue
timestamp
2019-09-02 07:03:00            1    dairy      1      5.0
2019-09-02 07:03:00            2    dairy      1      5.0

In [72]:
# create subset of dataframe for one customer_no:
df_sub = df[df['customer_no']==30]
df_sub

                     customer_no  location  dummy  revenue
timestamp
2019-09-02 07:17:00           30    spices      1      3.0
2019-09-02 07:18:00           30    drinks      1      6.0
2019-09-02 07:19:00           30     fruit      1      4.0
2019-09-02 07:20:00           30     dairy      1      5.0
2019-09-02 07:21:00           30     fruit      1      4.0
2019-09-02 07:23:00           30  checkout      1      NaN

In [73]:
## resample the dataframe to get the whole time the customer spend in the supermarket
df_sub_resampled = df_sub.resample(rule='1MIN').ffill()
df_sub_resampled

                     customer_no  location  dummy  revenue
timestamp
2019-09-02 07:17:00           30    spices      1      3.0
2019-09-02 07:18:00           30    drinks      1      6.0
2019-09-02 07:19:00           30     fruit      1      4.0
2019-09-02 07:20:00           30     dairy      1      5.0
2019-09-02 07:21:00           30     fruit      1      4.0
2019-09-02 07:22:00           30     fruit      1      4.0
2019-09-02 07:23:00           30  checkout      1      NaN

In [74]:
# calculate revenue (sum of revenue col)
revenue = df_sub['revenue'].sum()
revenue

22.0

### Revenue per section after one day:

In [76]:
df_fruits = df[df['location']=='fruit']
fruits_rev = df_fruits['revenue'].sum()

df_spices = df[df['location']=='spices']
spices_rev = df_spices['revenue'].sum()

df_dairy = df[df['location']=='dairy']
dairy_rev = df_dairy['revenue'].sum()

df_drinks = df[df['location']=='drinks']
drinks_rev = df_drinks['revenue'].sum()

max_rev = max([fruits_rev, spices_rev, dairy_rev, drinks_rev])

print('Revenues per section\n',
     'fruits:', fruits_rev, 
      '\n spices', spices_rev,
     '\n dairy', dairy_rev,
     '\n drinks', drinks_rev,
     '\n most profitable section on monday: drinks')

Revenues per section
 fruits: 4020.0
 spices 2250.0
 dairy 4475.0
 drinks 4782.0
 most profitable section on monday: drinks